$font-sans-serif:			Helvetica, Arial, sans-serif;
$font-serif:				Georgia, serif;
$font-mono:					"Courier New", Courier, monospace;


// Body Variables
$body-bg:					#fff;
$body-color:				#222;

$body-font-size:			16px;
$body-line-height:			1.5em;
$body-font-family:			$font-sans-serif;