// border-box ftw by paul irish
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


// text renderig missing
// http://davidwalsh.name/font-smoothing
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
