.plate {
	margin: 0 auto;
	width: 100%;
	padding-top: 4em;
	padding-bottom: 4em;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 64em;
	padding-left: 1em;
	padding-right: 1em;
	*zoom: 1;
		//clean this up
		&:before,
		&:after {
			content: " ";
			display: table;
		}
		&:after {
			clear: both;
		}
}

.col {
	//better solution for shifting cols among themselves
	margin-bottom: 2em;
}

@media (min-width: 40em) {
	.col {
		float: left;
		padding-left: 1em;
		padding-right: 1em;
	}

	.col.one { width: 100%; }
	.col.two-three { width: 66.7%; }
	.col.two { width: 50%; }
	.col.three { width: 33.3%; }
	.col.four { width: 25%; }
	.col.five { width: 20%; }
	.col.right { float: right; }  
}